name: Atualizar Feed RSS

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Gerar o feed
        run: python scraper.py-

      # PASSO FINAL E CORRIGIDO
      - name: Commit e Push do feed gerado
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "BEEP BOOP: Feed RSS atualizado automaticamente"
          file_pattern: feed_tecnoblog.xml
          commit_user_name: GitHub Actions Bot
          commit_user_email: actions@github.com